body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background: #23242a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.dropdown {
    min-width: 15em;
    position:relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

#Cool-Text {    
    text-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    display:flex;
}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2rem 0.5em;
    background: #322741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display:none;
    transition:0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}
  
#menu {  
align-items: center;
display: block;
height: 100vh;
width: 100vw;
}

#menu-items {
margin-left: clamp(4rem, 20vw, 48rem);
position: relative;
z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
background-position: center 60%;
}

#menu-background-pattern {
background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
);
background-position: 0% 0%;
background-size: 12vmin 12vmin;
height: 100vh;
left: 0px;
position: absolute;
top: 0px;
transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
width: 100vw;
z-index: 1;
}

#menu-background-image {
background-image: url("../resources/Crystal.png");
background-position: center 40%;
background-size: 85vmax;
height: 100%;
left: 0px;  
opacity: 0.15;
position: absolute;
top: 0px;
transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
width: 100%;
z-index: 0;
}

#menu-items:hover ~ #menu-background-pattern {
background-size: 11vmin 11vmin;
opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
background-size: 100vmax;
opacity: 0.1;
}

#menu-items:hover > .menu-item {
opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
opacity: 1; 
}

.menu-item {
color: white;
cursor: pointer;
display: block;
font-family: 'Ibarra Real Nova', serif;
font-size: clamp(3rem, 8vw, 8rem);
padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
text-decoration: none;
transition: opacity 400ms ease;
}

i {
    cursor: pointer;
}

.rounded-img-centered
{
    height: auto;
    margin: 0.5vw;
    border-radius: 15px;   
    box-shadow: 7px 7px 3px rgba(0.1,0.1,0.1,0.2);
}